.block {
  position: relative;
  width: 20vw;
  height: fit-content;
  margin: 1rem;
  background-color: rgba(128, 0, 128, 0.33);
  display: flex;
  border-radius: 1rem;
  transition: 0.2s;

  &__pinned {
    position: absolute;
    top: -1rem;
    left: 1rem;
    transform: rotate(30deg);
  }
  &__options {
    position: absolute;
    background-color: rgba(128, 0, 128, 1);
    color: #fff;
    border-radius: 5rem;
    padding: 0.5rem;
    right: -1rem;
    top: -1rem;
  }

  &_body {
    padding: 2rem;
    &_heading {
      font-weight: 600;
      font-size: 3rem;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.8);
    }
    &_tagline {
      font-size: 1.3rem;
      color: rgba(0, 0, 0, 0.6);
      font-style: italic;
      padding: 0.5rem 0;
    }

    &_text {
      font-size: 1.5rem;
      color: #383737;
      line-height: 2rem;
      word-spacing: 0.2rem;
      padding: 0.5rem 0;
    }
  }
  &:hover {
    transform: scale(1.03);
  }
}
