.options {
  position: absolute;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem;
  right: -1rem;
  top: -1rem;

  &__edit {
    cursor: pointer;
  }
  &__delete {
    cursor: pointer;
    padding: 0.5rem 0;
    &:hover {
      color: rgba(255, 0, 0, 0.7);
    }
  }
  &__pin {
    cursor: pointer;
    transform: rotate(40deg);
    color: rgba(0, 0, 0, 0.4);
  }
  &__notpin {
    cursor: pointer;
    transform: rotate(0deg);
  }
}
